@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #ffffff;
		--sidebar-bg: #ebdede;
		
		--hoverSideBar: #ae7be1;


		--base: 27px;
	}
}

@layer base {
	body {
		@apply bg-background text-base;
		font-family: 'Lato', sans-serif;
	}
}
